.container{
    display: flex;
    justify-content: space-between;
   align-items: center;
   position: fixed;
   background-color: white;
  width:95%;
  padding: 8px;
  padding-right: 40px;
  padding-left: 40px;
z-index: 1;
}
.list_icon{
    display: flex;
    flex-direction: column;
    height: 17px;
    padding: 1px;
}
.list_icon span{
     height: 0.9px;
     width: 20px;
     background-color: black;
     display: block;
     margin-bottom: 5px;
    
}

.first_section{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_section img{
    height: 28px;
    cursor: pointer;
    background-color: white;

}
.search_button{
    outline: none;
    border-radius:  0px 20px 20px 0px;
    padding: 2px;
    width: 85px;
    border: 0.5px solid grey;
    border-left: none;
  height: 37px;
  cursor: pointer;

}
.search_img{
   height: 50px;
 margin-left: 17px;
 margin-right: 17px;
}
.second_section img:nth-child(2){
    height: 10px;
}
.second_section{
    display: flex;
    align-items: center;
    width: 550px;
}
.speak{
    margin-left: 20px;
}
.second_section img{
    height: 19px;
    border-radius: 50%;
    background-color: white;
}
.second_section input{
   min-width: 480px;
   height: 15px;
   border-radius:   20px 0px 0px  20px;
   padding: 10px;
   border: 0.5px solid grey;
   font-family: sans-serif;
   font-size: 18px;
   padding-left: 15px;
  
}
.third_section img{
    margin: auto;
    height: 17px;
}
.user_icon img{
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
}
.third_section{
    display: flex;
    width: 200px;
    justify-content: space-around;
}
@media only screen and (max-width:768px){
    .container{
        display: flex;
        justify-content: space-around;
    }
   .speak, .second_section input{
        display: none;
    }
    .search_button{
        border: none;
        background-color: white;
        padding-left: 80%;
    }
    .third_section{
       width: 380px;
    }
    .video_casting{
        display: none;
    }
    .first_section img{
        margin-left: 10px;
        text-align: center;
        margin-top: -5px;
    }
    .user_icon{
        margin-right: 25%;
    }
}
