.playvideo_container{
display: flex;
width: 99%;
margin: auto;
padding-top: 60px;
overflow: hidden;

object-fit: contain;
}


.related_videos{

width: 100%;
margin-left: 25px;
height: 88vh;
border-radius: 15px;
overflow: scroll;
overflow-x: hidden;

}
.video_details{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  padding: 5px;
 
}
.video_details header{
    font-size: 22px;
   color: black;

}
.like_row{
    display: flex;
  
    padding: 2px;
    align-items: center;
    margin-top: 10px;
    
}
.channel_nameV{
   
  margin-left: 10px;
  opacity: 0.8;
}
.channel_imgV{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.subscribe_btn{
    height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 40px;
 
    
}
.like_btn,.dislike_btn{
    height: 22px;
    margin-left: 20px;
    background-color: gray;
}
.like_btn{
    margin-left: 90px;
}
.share{
    margin-left: 50px;
    font-size: 18px;
}
.dots{
    font-size: 30px;
    margin-left: 40px;
    height: 30px;
    width: 50px;
    border-radius: 50%;
    border: none;
    padding-bottom:55px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.video_div{
    cursor: pointer;
    padding: 2px;
    display: flex;
}
.video_div img{
    height: 100px;
    width: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.second_part{
    margin-left: 5px;
    padding: 5px;
}
.second_part p:nth-child(1){
    font-size: 17px;
    font-family: Times, serif;
}
.second_part p:nth-child(2){
    font-size: 15px;
    font-family: Times, serif;
    opacity: 0.7;
}
@media only screen and (max-width:480px) {
    .playvideo_container{
     display: block;
     width: 99%;
    }
   
    .video_details header{
        font-size: medium;
    }
   .play_video{
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    }
    .second_part{
        width: 55%;
    }
    .video{
        height: 255px;
    }
    .play_video iframe{
      width: 100%;
    }
   .like_row{
   display: flex;
   justify-content: space-around;
   }
   .dislike_btn{
    margin-left: 10px;
   }
   .channel_nameV{
    font-size: 14px;
    
   }
   .like_btn{
    margin-left: 0;
    font-size: px;
   }
   .subscribe_btn{
    font-size: 12px;
    padding: 1px 10px;
    margin-left: 5px;
    margin-right: 5px;
   }
   .share{
    margin-left: 10px;
    font-size: 14px;
   }
   .dots{
    margin-left: 0;
    background-color: white;
   }
}