.video_container{
  padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 15px;

  margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    
}
.thumbnail{
    height: 173px;
    background-color: black;
    border-radius: 15px;
 
}
.thumbnail img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.video_info img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.video_info{
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
    margin-top: 5px;
    height: 60px;
    opacity: 1;
}
.description{
    margin-left: 15px;
    font-size: 14.5px;
    font-family: sans-serif;
    
}
.channel_name{
    margin-left: 61px;
   
 font-size: 13px;
  opacity: 0.6;
}
.channel_info{
    display: flex;
    align-items: center;
   margin-top: -10px;
   font-family:fantasy;
  
}
.right_sign{
    height: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
  
}
@media only screen and (max-width:768px){
    .thumbnail{
        height: 250px;
        border-radius: 0%;
    }
    .description{
        margin-left: 5px;
    }
    .video_info{
        margin-left: 0px;
    
        height: 45px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding-left: 7px;
    }
    .channel_info{
        margin-top: -20px;
    }
}